<ion-content>
  <ion-grid text-center >
    <ion-row>
      <ion-col text-center>
        {{ lithoData$ | async | json }}
          <ion-searchbar (ionChange)="searchChanged()"></ion-searchbar>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <h1>
            <ion-card-title>Litho </ion-card-title>
        </h1>
        <ion-item> </ion-item>
        <ion-item> </ion-item>
        <ion-item *ngFor="let item of (lithoData$ | async)">
            {{ item.name }}
            {{ item.color }}     
        </ion-item>
        <!-- <img [src]="item.img" *ngIf="item.img != 'N/A'"> -->
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>